# IntelliJ IDEA
.idea/
*.iml

# Java / Maven
backend/target/
*.class

# Frontend - Node / Next.js
frontend/node_modules/
frontend/.next/

# Environment variables / secrets
.env
.env.*
!.env.example

# Logs
*.log

# Operating system files
.DS_Store
Thumbs.db
backend/firebase-service-account.json

*.pem
*.key